.bg {
  background-image: linear-gradient(
    #032567 30%,
    rgba(195, 221, 253, 30) 60%,
    #032a5c
  );
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.calendarHeader {
  color: white;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.875rem;
  margin-left: 25px;
  margin-top: 10px;
  text-decoration: underline;
}

.createTaskButton {
  background-color: #eaf3fe;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 3px 7px;
  margin: 5px 30px;
  height: min-content;
  align-self: flex-end;
}

.filterButton {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  background: transparent;
  border: none;
  color: #dadada;
}

.taskList {
  margin: 10px 25px;
  padding: 0px;
  overflow: hidden;
  overflow-y: scroll;
}

.errorMessageStyle {
  margin: 20px;
  align-self: center;
}

/* works in chrome and safari */
.taskList::-webkit-scrollbar {
  width: 0px !important;
  display: none;
}
