.bg {
  background-image: linear-gradient(#062869, #a3adbe 60%, #8498b2);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.taskHistoryHeader {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  align-self: center;
}

.errorMessageStyle {
  margin: 20px;
  align-self: center;
}
