.credentials {
  background-color: white;
  color: #3e618f;
  border-width: 0px;
  border-radius: 20px;
  box-shadow: 3px 4px #dadada;

  padding: 3px 20px;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.credentials:active {
  transform: translateY(1px);
  box-shadow: 2px 3px #dadada;
}
