.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  max-width: 70vw;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #eaf3fe;
  color: #032a5c;
  text-align: left;
  border-radius: 30px;
  overflow: auto;
  padding: 20px 0px;
  z-index: 10;
}

.captureClicks {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
  z-index: 5;
}

.modal::-webkit-scrollbar {
  width: 0px !important;
  display: none;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.closeModal {
  position: absolute;
  border: none;
  border-radius: 10px;
  color: white;
  background: #032a5c;
  top: 20px;
  right: 30px;
  padding: 5px 10px;
}

.taskDetailsHeader {
  color: #032a5c;
  font-weight: 800;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.875rem;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center !important;
}

.taskDetailsField {
  color: #032a5c;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  margin: 20px 0px;
}

.taskDetail {
  color: #000000;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}

.taskDetailContainer {
  margin: 20px 10%;
}
