.selectedFilter {
  margin: 5px 10px;
  border-color: #8498b2;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  color: white;
  background: #032a5c;
}

.filterButton {
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
  color: black;
  background: white;
}

.filterButton:hover {
  cursor: pointer;
  background: #d7d7d7;
}

.filterBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
